/* ------------------- Navigationsbalken --------------------------------------*/
/* Quelle:  https://www.youtube.com/watch?v=cQ6YQ8K5MRw  Kanal: DarkCode */
/* Autor: Kevin Caluori Erstellt: 12.10.19 */
/* History: 23.11.19 */
/* History: 13.12.19 */
/* History: 10.01.20 */
* {
    margin: 0;
    padding: 0;
    font-family: "Bahnschrift", sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 10px;
    height: 100px;
    background-color: whitesmoke;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 102px;
}

.logo {
    line-height: 100px;
    color: #da202c;
    font-size: 35px;
    float: left;
    text-transform: uppercase;
}

.menu {
    float: right;
    line-height: 100px;
    font-size: 20px;

}

.menu a {
    color: dimgray;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 15px;
    transition: 0.2s;

}

.show-menu-button,
.hide-menu-button {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-button {
    float: right;
}

.show-menu-button i {
    line-height: 100px;
}

.menu a:hover,
.show-menu-button:hover,
.hide-menu-button:hover {
    color: sandybrown;
}

/*------------- Navigationsbalken --------------------------------------*/

/*------------- Body ---------------------------------------------------*/
.body_Home {
    background-image: url(../bilder/Hintergrund/switzerland_01.jpg);
    /* Quelle Bild: https://unsplash.com/photos/eAAjKAGEKmI */
    background-attachment: fixed;
    min-height: 100%;
    background-size: cover;
}

.titel {
    color: whitesmoke;
    text-align: center;
    font-size: 100px;
    margin-top: 250px;
}

.willkommen {
    color: black;
    font-size: 65px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    border-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    width: 97%;
    color: black;
    font-size: 25px;
    margin: auto;
    padding-top: 22px;
    padding-bottom: 22px;
}

.regionen_flex-container {
    border-top: 200px;
    margin-top: 50px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 100%;
    /*background-color: rgb(245,245,245,0.7);*/
    background-color: white;
}

.regionen_flex-container>a {
    width: 250px;
    height: 250px;
    margin: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 30px;
}

.flex-container {
    border-top: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 855px;
    /*background-color: rgb(245,245,245,0.7);*/
    background-color: white;

}

.map {
    border-right: 2px solid rgb(102, 102, 102);
    border-top: 200px;
    margin-top: 50px;
    width: 80%;
    height: 855px;
    background-color: rgb(245, 245, 245, 0.7);
}

.highcharts-title {
    font-size: 500em;
}

.date {
    font-size: 18px;
}

.radio {
    font-size: 18px;
}

.checkbox {
    font-size: 18px;
}

.filter {
    margin-top: -855px;
    margin-left: auto;
    margin-right: 10px;
    width: 18%;
    height: 800px;
    /*background-color: rgb(245,245,245,0.7);*/
    background-color: white;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/* CSS für Range Jahr  Quelle: https://css-tricks.com/value-bubbles-for-range-inputs/ */

input[type=range] {
    -webkit-appearance: none;
    margin: 20px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: #0075ff;
    border-radius: 25px;
}

input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #0075ff;
}

.range-wrap {
    width: 95%;
    position: relative;
}

.range-value {
    position: absolute;
    top: -50%;
}

.range-value span {
    width: 30px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #0075ff;
    color: #fff;
    font-size: 12px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 6px;
}

.range-value span:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #0075ff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}

/*------------- Body ---------------------------------------------------*/

/*------------- Footer ---------------------------------------------*/

.footer {
    float: center;
    margin-top: 50px;
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
}

.quelle {
    float: left;
    text-align: left;
    padding: 31px 35px;
    color: #da202c;

}

.swiss_made {
    float: right;
    text-align: right;
    padding: 31px 35px;
    color: #da202c;
}

/*------------- Footer ----------------------------------------------*/